<template name="searchbar">
  <div class="searchbar-width pull-center">
    <div class="row">
      <div class="form-group col-md-offset-1 col-md-3">
        <input type="text" class="form-control" placeholder="musician name">
      </div>
      {{> selectbox}}
      <div class="form-group col-md-3">
        <input type="text" class="form-control" placeholder="area">
      </div>
    </div>
    <div class="row">
      <div class="pull-right" id="search-button">
        <button type="button"  class="btn btn-md btn-primary" id="actual-search-button" name="actual-search-button">search</button>
      </div>
    </div>
  </div>

</template>



