<template name="selectbox">
  <div class="col-md-4 dropbar form-group" id="instrument-dropdown">
      <select id="e1">
        <option selected="selected" value="all">all</option>
        <option value="guitar">guitar</option>
        <option value="ukulele">ukulele</option>
        <option value="vocals">vocals</option>
        <option value="piano">piano</option>
        <option value="violin">violin</option>
        <option value="viola">viola</option>
        <option value="cello">cello</option>
        <option value="rap">rap</option>
      </select>
  </div>
</template>
