<template name="introInfo">
  <div class="container intro-box">
    <h3 class="welcome-message">Welcome to JamScope<i class="fa fa-music "></i></h3>
    <ul>
      <li><h4>Find musicians around you!</h4></li>
      <li><h4>Click on the map to drop your location marker</h4></li>
      <li><h4>Sign in to chat with other music lovers! (not available on mobile)</h4></li>
    </ul>
    <br>
    <div class="explainer-video-box">
      <iframe class="explainer-video" frameborder="0" src="//www.youtube.com/embed/A-tCrCJiLv8"></iframe>
    </div>

  </div>
</template>