<template name="layout">
    {{> header}}
    <main class="main container" id="central">
      {{> yield}}


<!--     <div class="chat-position hide">
      {{> chat}}
    </div>

    <div class="chat-position2 hide">
      <div>{{> chat2}}</div>
    </div>
    <div class="chat-position3 hide">
      <div>{{> chat2}}</div>
    </div>
 -->
    <div class="">
      {{>chat_foot}}
    </div>
    <div class="">{{> chatlist}}</div>
    </main>
    <br>
    <footer class="navbar-fixed-bottom footer-style">
      <div class="container">
        <p class="text-muted pull-right">
          &copy; 2014 by <a href="#">jamScope</a> &bull;
         <!--  <a href="#">Privacy Policy</a> &bull; -->
          <a href="#">Terms of Use</a>
        </p>
      </div>
    </footer>
</template>
