<template name="layout">
    {{> header}}
    <main class="main container" id="central">
      {{> yield}}
    </main>

    <div class="chat-position">
      {{> chat}}
    </div>

    <div class="chat-position2">
      <div>{{> chat2}}</div>
    </div>
    <div class="chat-position3">
      <div>{{> chat2}}</div>
    </div>

    <footer>
      <div class="container">
        <p class="text-muted pull-right">
          &copy; 2014 by <a href="#">jamScope</a> &bull;
          <a href="#">Privacy Policy</a> &bull;
          <a href="#">Terms of Use</a>
        </p>
      </div>
    </footer>
</template>
