<head>
  <meta charset="utf-8">
  <title>jamScope</title>
  <link href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/music.ico">

</head>
<!--
        <div class="row in-line">
        <ul class="nav navbar-nav pull-right">
          <li><a href="{{pathFor 'search'}}">Musicians</a></li>

            {{> loginButtons }}

        </ul>
        </div> -->



