<template name="map">

  <div class="container pull-center" id="map-back">
    <div class="col-md-4"><button class="btn-xs btn-primary btn-block pin-my-location-btn"><span class="fa fa-location-arrow"></span> Drop Profile at My Location</button></div>
    <div class="col-md-4">
      <button class="btn-xs btn-warning btn-block my-location-btn"><span class="fa fa-location-arrow"></span> Find Current Location</button>

    </div>

    <div id="map-canvas"></div>
 <!--    <h1>this is the map template!</h1> -->
</div>




</template>