<!-- <template name = "profilepop">
  <div class="row crater-alert-box">
    <div class="row modalpop">
      <div class="col-md-4 col-md-offset-1">
        <img class="modal-pic" src={{profile.picture}}>
      </div>
      <div class="col-md-7">
        <h2 class="text-center">{{profile.name}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        {{profile.aboutMe}}
      </div>
    </div>






  </div>
</template> -->

<template name = "profilepop">
  <div class="container">
    <div class="row crater-alert-box">


        <div class="panel panel-default profilePanel">
        <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                                  <img src={{profile.picture}} alt="" class="center-block img-circle img-responsive">
                                  <ul class="list-inline ratings text-center" title="Ratings">
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  </ul>
                          </div><!--/col-->


                          <div class="col-sm-8">
                              <h2>{{profile.name}}</h2>
                              <p><strong>About: </strong> {{profile.aboutMe}} </p>
                              <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                              <p class="instrumentTags"><strong>Instruments: </strong>
                                {{#each profile.instrumentsPlayed}}
                                  <span class="label label-info tags" value="{{this}}">{{this}}</span>

                                {{/each}}
                              </p>

                          <div class="row">
                            <div class="col-sm-6">
                                <h2><strong> 20,7K </strong></h2>
                                <p><strong>Fans</strong></p>
                                <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                                <br>
                            </div><!--/col-->
                            <div class="col-sm-6">
                                <h2><strong>245</strong></h2>
                                <p><strong>Following</strong></p>
                                <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                            </div><!--/col-->
                          </div>
                          <div  class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-block"><span class="fa fa-wechat"></span> message </button>
                            </div><!--/col-->
                        </div>
                    </div><!--/row-->
                </div>
                </div><!--/panel-body-->
            </div><!--/panel-->

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="videoList">
                  <iframe width="600" height="315" src="//www.youtube.com/embed/jyMBspET9kI" frameborder="0" allowfullscreen></iframe>

                  <iframe class="pull-central" width="600" height="315" src="//www.youtube.com/embed/pUJGjWRFtno" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>


    </div>
  </div>
</template>