.footer-style {
  background: black;

}

html {
 height: 100% }

body {
  height: 100%; margin: 0; padding: 0;
  background-color:#302B21;
  background: url('/images/guitarbackground.jpg') no-repeat center center fixed;
  background-size: cover;

  overflow-y: scroll
}
