.footer-style {
  background: black;

}

html {
 height: 100% }

body {
  height: 100%; margin: 0; padding: 0;
  background-color:#302B21;
  background: url('/images/guitarbackground.jpg') no-repeat center center fixed;
  background-size: cover;

  overflow-y: scroll
}

.spinner {
  margin-top:20%;
  margin-left:45%;
}

.loading-text{
  position:absolute;
  top:50%;
  left:45%;
  color:white;

}

.loading-text h1 {

  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
}
