.edit-vid-box{
  border-style: solid;
  border-width: 1px;
  border-color: white;

}

.chat-foot {
  position:fixed;
  bottom:0;
  left:30%;
  margin-bottom: 30px;
  display:inline-block;
  float:right;

}

@media (max-width: 1780px) {
  .chat-foot{
    left:20%;
  }
}

@media (max-width: 1537px) {
  .chat-foot{
    left:10%;
  }
}

@media (max-width: 1377px) {
  .chat-foot{
    left:5%;
  }
}

@media (max-width: 1295px) {
  .chat-foot{
    left:0;
  }
}

@media (max-width: 750px) {
  .chat-foot{
    left:0;
    visibility:hidden;
  }

  #chatlist-box{
    visibility:hidden;

  }

}

.chat2 .chat-msg-display{
  height:300px;

}

.chat2 .chatbox {
  max-height: 300px;
  width: 300px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 10px;
}



.chat2 .chat-lineup{
  display:inline;
}

.chat2 .panel-heading-style {
  margin-left:0;
  margin-right:0;

}

.chat2 .panel-body-style {
  max-height: 225px;
  width: 300px;
  overflow-y:scroll;
  color:black;
}

.chat2 .text-input-style {
  padding: 0px;

}
.chat2 .input-spacing{
  padding:0;
}

.chat2 .chatbox {
  background: #f9f9f9;
}

.chat2 .chatbox a {
  color: white;
}

.chat2 .panel-buttons {
  text-align:right;
  padding-right:0;
}

.chat2 .panel-footer2 {
  bottom:0;
  background: #ececec;
  margin-bottom:0;
}

.chat2 .icon_close:hover,{
  color:#595959;
}

#chatlist-box h4{
  color:white;
  margin:0;
}

#chatlist-box{
  color:black;
  max-height: 400px;
  max-width: 250px;
  padding:0;

  background-color:#f9f9f9;
  bottom:0;
  position:fixed;
  right:0;
  overflow-y:scroll;
}

#chatlist-body{
  color:black;
  min-height: 400px;
  width: 250px;
  padding:0;

  background-color:#f9f9f9;
  bottom:0;
  /*right:5px;*/
  position:fixed;
  right:0;
}


#chatlist-box .panel-heading-style{
  margin-left:0px;
  margin-right:0px;
  height:41px;
  width:250px;

}

.color-white {
  color:white;
}

.user-tab {
  padding: 5px 5px;
  cursor: pointer; cursor: hand;
}

.user-tab:hover {
  background-color:rgb(221, 221, 238);
  font-weight:bolder;
}

.list-minimize-button{
  padding-right:0;
}

.chatlist-pic {
  height:40px;
  width:auto;
}

.user-tab .chatlist-name {
  margin-top:4%;
  margin-bottom:3%;
}

/*.user-tab .notification {
  margin-top:4%;
  margin-bottom:3%;

}*/

.chat-overall {


}

.chat-unit{
  margin-bottom:10px;
}

.chat-unit-me {
  margin-top: 10px;
  margin-bottom: 10px;

}

/*.chat-listing {
  overflow-y:scroll;
}*/

.chat-content {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:70%;
}

.chat-content-me {
  background: #CFE7FF;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:70%;
}

.pull-bottom {
  position:relative;
  bottom:0px;

}
