#map-back-info{
  background-color:rgba(0,0,0,0.7);
  padding-top: 0px;
  margin-top:-20px;

  min-height: 95%;
  color: white;
}


.explainer-video-box{
  position: relative;
  padding-bottom: 0%;
  padding:top:30px;height:300px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

.explainer-video-box iframe,
.explainer-video-box object,
.explainer-video-box embed {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

}

.pull-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.info-inner-box {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  float:none;
}

.info-answer {
  padding-bottom:50px;
}

