
html {
 height: 100% }

body {
  height: 100%; margin: 0; padding: 0
}
#map-canvas { height: 500px ; width: 800px;
  margin-left:auto;
  margin-right:auto; }

.pull-central {
  margin-left:auto;
  margin-right:auto;


}

#central{
  margin-left:auto;
  margin-right:auto;
  padding-top:70px;

}

.list-ul{
  list-style-type:none;

}