<template name="profilelist">
  <div class="container pull-center col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 " id="search-outputs">
    {{#each users}}
    <!-- profile-list-box -->
      <div class="well row profileListUnit" id="{{_id}}">
        <div class="col-md-3 col-sm-12">
          <div class="in-line pull-central listpic-cropper">
            <img class ="listpic" src={{profile.picture}}>
          </div>
        </div>
        <div class="col-md-9 col-sm-12">
          <ul class="list-ul">
              <li class=""><h4 class="brand-primary text-center">{{profile.name}}</h4></li>
              <br>
              <ul class="list-ul">

              <div class="text-center">
                {{#each getInstruments}}
                  <!-- <li class="list-instruments"> -->
                  <span class="label label-primary tags profile-labels">{{type}}: {{level}}</span>
                  <!-- </li> -->
                {{/each}}
              </div>

              {{#if notMyself}}
                <div class="pull-central">
                  <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success btn-block openChat"><span class="fa fa-wechat"></span> Message</button>
                  </div>
                </div>
              {{/if}}
              </ul>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</template>
