<template name="profilelist">
  <div class="container pull-center" id="search-outputs">
    {{#each users}}
    <!-- profile-list-box -->
      <div class="well row profileListUnit" id="{{_id}}">
        <div class="col-md-3">
          <div class="in-line listpic-cropper">
            <img class ="listpic" src={{profile.picture}}>
          </div>
        </div>
        <div class="col-md-9">
          <ul class="list-ul">
              <li class=""><h4 class="brand-primary">{{profile.name}}</h4></li>

              <ul class="list-ul">
              {{#each getInstruments}}
                <li class="list-instruments">{{type}}: {{level}}</li>
              {{/each}}
              </ul>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</template>
