<template name="profilelist">
  <div class="container pull-center" id="search-outputs">
    {{#each users}}
    <!-- profile-list-box -->
      <div class="well row profileListUnit" id="{{_id}}">
        <div class="col-md-3">
          <div class="in-line listpic-cropper">
            <img class ="listpic" src={{profile.picture}}>
          </div>
        </div>
        <div class="col-md-9">
          <ul class="list-ul">
              <li class=""><h4 class="brand-primary">{{profile.name}}</h4></li>
              <br>
              <ul class="list-ul">
              {{#each getInstruments}}
                <!-- <li class="list-instruments"> -->
                <span class="label label-primary tags profile-labels">{{type}}: {{level}}</span>
                <!-- </li> -->
              {{/each}}
                <br>

              {{#if ownerOfThis}}
                <div class="col-md-2-offset pull-central col-md-8 buttonPicker">
                  <button type="button" class="btn btn-success btn-block openChat"><span class="fa fa-wechat"></span> Message</button>
                </div>
              {{/if}}
              </ul>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</template>
