<template name="chat2">
  <div class="chat2 hide">
    <div class="pull-left">
      <div class="container panel panel-primary chatbox">
        <div class="panel-heading panel-heading-style row">
          <div class="col-md-8">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-comment"></span>
              Joe Teo
            </h3>
          </div>
          <div class="col-md-4 panel-buttons">
            <a href="#"><span class="glyphicon glyphicon-minus icon_minim"></span></a>
            <a href="#"><span class="glyphicon glyphicon-remove icon_close"></span></a>
        </div>
        </div>
        <div class="panel-body panel-body-style">Panel content</div>

          <div class="panel panel-default panel-footer2">
            <div class="panel-body text-input-style">
              <div class="col-md-10 input-spacing">
                <input class="form-control input-sm chat_input" id="btn-input" placeholder="Write your message here..." type="text">
              </div>
              <div class="col-md-2 input-spacing">
                <button class="btn btn-primary btn-sm">send</button>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>
</template>