<template name = "profilepop">
  <div class="container row crater-alert-box">
    <a href="#"><span id="closeModalGlyph" class="glyphicon glyphicon-remove pull-right"></span></a>
  <div class="panel panel-default profilePanel">
    <div class="panel-body row">
      <div class="col-sm-4 text-center">
        <img alt="" class="center-block img-circle img-responsive" src="{{profile.picture}}">
        <ul class="list-inline ratings text-center" title="Ratings">
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h2>
          {{profile.name}}
        </h2>
        <p>
          <strong>About:</strong> {{profile.aboutMe}}
        </p>
        <p class="instrumentTags">
          <strong>Instruments:</strong> {{#each getInstrumentsPop}} <span class="label label-info tags profile-labels">{{type}}: {{level}}</span> {{/each}}
        </p>
        <p>
          <strong>Favorite Artists:</strong> {{this.profile.favoriteArtists}}
        </p>
        <div class="row">
          <div class="col-sm-6">
            <h2>

              <strong class="fan-number">{{fans}}</strong>

            </h2>
            <p>
              <strong>Fans</strong>
            </p><button class="btn btn-success btn-block follow-button"><span class="fa fa-plus-circle"></span> Follow</button><br>
          </div>
          <div class="col-sm-6">
            <h2>
              <strong>{{following}}</strong>
            </h2>
            <p>
              <strong>Following</strong>
            </p><button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile</button>
          </div><!--/col-->
        </div>
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-block modalChatButton"><span class="fa fa-wechat"></span> Chat</button>
          </div><!--/col-->
        </div>
      </div><!--/row-->
    </div><!--/panel-body-->
  </div><!--/panel-->
  <div class="pull-central panel panel-default panel-body videoList">
    <div class="video-container">
      <iframe frameborder="0" height="315" src="//www.youtube.com/embed/jyMBspET9kI" width="600"></iframe>
    </div>
    <br>
    <div class="video-container">
      <iframe class="pull-central"
      frameborder="0" height="315" src="//www.youtube.com/embed/pUJGjWRFtno" width="600"></iframe>
    </div>
  </div>
</div>
</template>