<template name = "profilepop">
  <div class="container row crater-alert-box">
    <a href="#"><span id="closeModalGlyph" class="glyphicon glyphicon-remove pull-right"></span></a>
  <div class="panel panel-default profilePanel">
    <div class="panel-body row">
      <div class="col-sm-4 text-center">
        <img alt="" class="center-block img-circle img-responsive" src="{{profile.picture}}">
        <ul class="list-inline ratings text-center" title="Ratings">
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-star fa-lg"></span></a>
          </li>
        </ul>
        {{#if hasSoundCloud}}

          <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2{{cloudLink}}&color=orange_white&size=40" style="width: 40px; height: 40px;"></iframe>

        {{/if}}

      </div>
      <div class="col-sm-8">
        <h2>
          {{profile.name}}
        </h2>
        <p>
          <strong>Area:</strong> {{profile.geocoding}}
        </p>
        <p>
          <strong>About:</strong> {{profile.aboutMe}}
        </p>
        <p class="instrumentTags">
          <strong>Instruments:</strong> {{#each getInstrumentsPop}} <span class="label label-default tags profile-labels2">{{type}}: {{level}}</span> {{/each}}
        </p>
        <p>
          <strong>Favorite Artists:</strong> {{this.profile.favoriteArtists}}
        </p>
        <div class="row">
          <div class="col-sm-6">
            <h2>
              <div class="col-xs-offset-6 col-sm-offset-0 ">
                <strong class="fan-number">{{fans}}</strong>
              </div>
            </h2>
            <p>
              <div class="col-xs-offset-5 col-sm-offset-0 ">
                <strong>Fans</strong>
              </div>

            </p>
            {{#if currentUser}}
              {{#if notMine}}
                {{#if followingAlready}}
                  <button class="btn btn-warning btn-block unfollow-button"><span class="fa fa-minus-circle"></span> Unfollow</button><br>
                {{else}}
                  <button class="btn btn-success btn-block follow-button"><span class="fa fa-plus-circle"></span> Follow</button><br>
                {{/if}}
              {{/if}}
              {{#if myProfile}}
                <button class="btn btn-primary btn-block"><span class="fa fa-plus-circle"></span> Add Videos</button><br>
              {{/if}}
            {{else}}
               <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Sign In to Follow!</button><br>
            {{/if}}
          </div>
          <div class="col-sm-6">
            <h2>
              <div class="col-xs-offset-6 col-sm-offset-0 ">
                <strong>{{following}}</strong>
              </div>
            </h2>
            <p>

              <div class="col-xs-offset-5 col-sm-offset-0 ">
                <strong>Following</strong>
              </div>
            </p>
            {{#if currentUser}}
              {{#if notMine}}
                <button type="button" class="btn btn-primary btn-block modalChatButton"><span class="fa fa-wechat"></span> Chat</button>
              {{/if}}
              {{#if myProfile}}
                <button type="button" class="btn btn-info btn-block modalEditButton"><span class="fa fa-gear"></span> Edit Profile</button>
              {{/if}}
            {{else}}
              <button type="button" class="btn btn-primary btn-block "><span class="fa fa-gear"></span> Sign In to Chat!</button>
            {{/if}}

          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
<!--   <div class="panel panel-default panel-body pull-central">
    {{> soundCloud}}
  </div> -->



    {{#if eitherExists}}
      <div class="pull-central panel panel-default panel-body videoList">
        {{#if video1Exists}}
          <div class="video-container">
            <iframe frameborder="0" height="315" src="//www.youtube.com/embed/{{video1}}" width="600"></iframe>
          </div>
        {{/if}}
        {{#if video2Exists}}
          <br>
          <div class="video-container">
            <iframe class="pull-central"
            frameborder="0" height="315" src="//www.youtube.com/embed/{{video2}}" width="600"></iframe>
          </div>
        {{/if}}
      </div>
    {{/if}}
</div>
</template>