<template name="chatlist">
  <div class="container panel panel-primary" id="chatlist-box">
    <div class="panel-heading row panel-heading-style row">
      <div class="col-md-8">
        <h4><span class="fa fa-weixin"></span> Chat</h4>
      </div>
      <div class="col-md-4 panel-buttons list-minimize-button">
        <a href="#"><span class="color-white pull-right glyphicon glyphicon-minus icon_minim"></span></a>
      </div>
    </div>

      <div class="chatlisting">
        {{#each existingChatList}}
         <div class="user-tab row" id="chatlist-{{this._id}}">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <img class ="chatlist-pic" src={{this.profile.picturesquare}}>
          </div>
          <span class="chatlist-name col-md-6">
            {{this.profile.name}}
          </span>
         </div>
        {{/each}}
      </div>
  </div>
</template>