<template name="chatlist">
  <div class="panel panel-primary" id="chatlist-box">
    <div class="panel-heading row panel-heading-style row">
      <div class="col-md-8">
        <h4><span class="fa fa-weixin"></span> Chat</h4>
      </div>
      <div class="col-md-4 panel-buttons list-minimize-button">
        <a href="#"><span class="color-white pull-right glyphicon glyphicon-minus icon_minim"></span></a>
      </div>
    </div>
    <div class="panel-body">
      <div class="scroll-area">
        <div class="chatlisting">
          {{#each existingChatList}}
           <div class="user-tab row" id="chatlist-{{this._id}}">
            <div class=""></div>
            <div class="col-md-3">
              <img class ="chatlist-pic" src={{this.profile.picturesquare}}>
            </div>
            <span class="chatlist-name col-md-7">
              {{this.profile.name}}
            </span>
            {{#if notify}}
              <div class="notification col-md-2">
                <img src ="images/exclamation.ico">
              </div>
            {{else}}

              <div class="close-chat-list-unit col-md-2">
                <span class="glyphicon glyphicon-remove pull-right close-x hide"></span>
              </div>
            {{/if}}
           </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>