<template name ="info">
  <div class="container pull-center" id="map-back-info">
    <div class="info-inner-box">
      <h1 class="text-center">Updates and Known Bugs</h1>
      <h4>Bugs:</h4>
      <h4>
        <ul>
          <li>"find current location" button does not work in some cases </li>
        </ul>
      </h4>
      <br>
      <h4>Pending Improvements:</h4>
      <h4>
        <ul>
        </ul>
      </h4>
      <br>



      <h1 class="text-center">FAQ</h1>
      <h2>What is this site?</h2>
      <h4>Jamscope is a social network for musicians. We provide interactive features to make it easy and fun to discover and meet musicians around you! (the video below will give you a better idea)</h4>
      <div class="explainer-video-box">
        <iframe class="explainer-video" frameborder="0" src="//www.youtube.com/embed/A-tCrCJiLv8"></iframe>
      </div>
      <br>
      <h2>Who is Jamscope for?</h2>
      <h4 class="info-answer">Jamscope is for anybody who enjoys music, specifically people who like to sing or play an instrument. Music is meant to be played together, use Jamscope to find jam partners around you!</h4>
      <h2>What are some of its main features?</h2>
      <h4 class="info-answer">Our main features include:
        <ul>
          <li>Map view, where you can browse through users around your area, and drop your marker in your area as well. Click on these markers to access user profiles!
          </li>
          <li>Chat function, where you can instant message any of the users (There is a chat button once you go inside someone's profile!)
          </li>
          <li>Search, where you can find a list of users based on the specific instrument you're looking for. Singing is in the list too if you want to find a vocalist.
          </li>
        </ul>
        Make sure you let us know what other functions you would want, by emailing us at <a href="mailto:jamscope@gmail.com">jamscope@gmail.com</a>
      </h4>

      <h2>Why is your "social network" so empty?</h2>
      <h4 class="info-answer">Well, we have literally just launched, and currently have no marketing budget. Help us spread the word! We are trying to solve a problem here!</h4>

      <h2>Well, ____ feature doesn't work, and _____ feature is lacking. What's up with that?</h2>
      <h4 class="info-answer">This application is being built by a very small team, we have many features planned, but it will take some time! Please send us your comments, suggestions, as well as concerns, to <a href="mailto:jamscope@gmail.com">jamscope@gmail.com</a>. More importantly, we need your suggestions to improve! Please do contact us!</h4>
      <h2>How can I contact you?</h2>
      <h4 class="info-answer">At <a href="mailto:jamscope@gmail.com">jamscope@gmail.com</a></h4>
    </div>
  </div>
</template>