<template name="edit_form">
  <div class="pull-center container" id="fadeblack-update-profile">
    <legend><h3 class="text-center title-blue"> Update Profile </h3></legend>
    <form class="form-horizontal">
    <fieldset>

    <!-- name input-->
    <div class="form-group">
      <label class="col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label" for="name">name</label>
      <div class="col-md-4">
      <input id="name" name="name" value="{{currentUser.profile.name}}" type="text" placeholder="What's your name?" class="form-control input-md" required="">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" type= "email" for="email">email</label>
      <div class="col-md-4">
      <input name="email" value="{{currentUser.profile.email}}" type="text" placeholder="optional" class="form-control input-md">

      </div>
    </div>

    <!-- about me input -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="about-me">about me</label>
      <div class="col-md-4">
        <textarea class="form-control input-md" name="aboutMe" placeholder="tell us about your journey as a musician!">{{currentUser.profile.aboutMe}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="favorite-artist">favorite artists</label>
      <div class="col-md-4">
        <textarea class="form-control input-md" name="favoriteArtists" placeholder="which musicians do you like?">{{currentUser.profile.favoriteArtists}}</textarea>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group hide">
      <label class="col-md-4 control-label" for="">area</label>
      <div class="col-md-4">
        <select id="" name="" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>

    <!-- Button Drop Down -->
    <br>
    <div class="form-group">
      <label class="col-md-4 control-label" for="addinstruments">instruments played</label>
      <div class="col-md-4">

        <select placeholder = "What instruments do you play?" multiple=""  name="e9" id="e9" class="populate select2-offscreen form-control" tabindex="-1">

          {{#each instrumentSelection}}
            <option val={{_id}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{#each addIndex}}
    <div class="form-group">
      <div class="col-md-offset-3 col-md-6">
        <label class="title-blue col-md-4 control-label" for="">{{value}}</label>
        <div class="col-md-5">
          <select id="" name="{{index}}" class="form-control">
            <option value="1">1: beginner</option>
            <option value="2">2: casual</option>
            <option value="3">3: advanced</option>
            <option value="4">4: professional</option>
          </select>
        </div>
      </div>
    </div>
    {{/each}}


    <!-- <div class="edit-vid-box"> -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="video1">video 1</label>
        <div class="col-md-4">
        <input name="video1" value="{{currentUser.profile.video1}}" type="text" placeholder="youtube URL (optional)" class="form-control input-md">

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="video2">video 2</label>
        <div class="col-md-4">
        <input name="video2" value="{{currentUser.profile.video2}}" type="text" placeholder="youtube URL (optional)" class="form-control input-md">
        </div>
      </div>
    <!-- </div> -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="edit_submit"></label>
      <div class="col-md-4">
        <button id="edit_submit" name="edit_submit" class="btn btn-primary">Update</button>
      </div>
    </div>

    </fieldset>
    </form>

  </div>
</template>